from pyclifer import Response, command

from ....core.context import pass_cli_context
from ..interfaces import {{ app_pascal }}Interface


@command()
@pass_cli_context
def {{ name_snake }}(ctx) -> Response:
    """{{ name_pascal }} description."""
    return {{ app_pascal }}Interface(ctx).respond("{{ name_snake }}")
