"""Integration package for {{ name_pascal }}."""

from .client import {{ name_pascal }}Client


class {{ name_pascal }}Integration:
    """Integration for {{ name_pascal }}."""

    def __init__(self):
        self.client = {{ name_pascal }}Client()
