from pyclifer import app_group, option
from .core.context import {{ name_pascal }}Context
from .apps import groups

# Declare context=True options here so they are accepted at any position in the
# command chain. Their values are forwarded to {{ name_pascal }}Context via context_factory.
#
# Example:
#   @option("--host", required=True, context=True)
#   @option("--token", required=True, context=True)
#
# To extend exit codes, define a subclass in core/constants.py and register it:
#   from {{ name_snake }}.core.constants import ExitCode
#   @app_group(context_factory={{ name_pascal }}Context, exit_codes_class=ExitCode)
@app_group(context_factory={{ name_pascal }}Context)
def app():
    """{{ name_pascal }} CLI."""


for group in groups:
    app.add_command(group)