[tool.poetry]
name = "{{ name }}"
version = "0.0.1"
description = ""
authors = []
packages = [{ include = "{{ name_snake }}", from = "src" }]

[tool.poetry.dependencies]
python = "^3.10"
pyclifer = "*"

[tool.poetry.group.dev.dependencies]
pytest = ">=8.0"
pytest-cov = "*"
ruff = "*"
bump-my-version = "*"

[tool.poetry.scripts]
{{ name }} = "{{ name_snake }}.cli:app"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
pythonpath = ["src"]

[tool.bumpversion]
current_version = "0.0.1"
parse = "(?P<major>\\d+)\\.(?P<minor>\\d+)\\.(?P<patch>\\d+)"
serialize = ["{major}.{minor}.{patch}"]
search = "{current_version}"
replace = "{new_version}"
tag = true
tag_name = "v{new_version}"
tag_message = "🚀 RELEASE: {current_version} → {new_version}"
commit = true
message = "🚀 RELEASE: {current_version} → {new_version}"

[[tool.bumpversion.files]]
filename = "pyproject.toml"
search = 'version = "{current_version}"'
replace = 'version = "{new_version}"'

[[tool.bumpversion.files]]
filename = "src/{{ name_snake }}/__init__.py"
search = '__version__ = "{current_version}"'
replace = '__version__ = "{new_version}"'
